{% extends "base.html" %}

{% block title %}It's the lease you can do{% endblock %}

{% block page_content %}
<title>Welcome to Apartmentality</title>
<header>

    <div class="header-content" style="background-color: rgba(0, 0, 0, 0.4)">

        <div class="header-content-inner">
            <h2>Learn more about a property</h2>
            <hr>
            <div class="row search">
                <div class="col-sm-8 col-sm-offset-2">
                    <form role="form" action="/properties" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg"
                                   placeholder="6760 Northbend Dr. Reynoldsburg, OH" name="zip">
                                <span class="input-group-btn">
                                  <button class="btn btn-default btn-lg"
                                          type="submit"><span
                                          class="glyphicon glyphicon-search"></span>
                                  </button>
                                </span>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">It's the <i>lease</i> you can do!</h2>
                <hr class="light">
                <p class="text-faded">Get to know the in-depth details about your
				prospective property from those who've had first-hand experience.
				Already renting? You can review your current property and even leave
				photos to help millions of other tennants find the right property.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What we're about</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>

                    <h3>Searching</h3>

                    <p class="text-muted">We know that sometimes it's hard to find
					the right place, so we incorporated an extensive database built
					around easy searching and refining.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary"
                       data-wow-delay=".1s"></i>

                    <h3>Rating</h3>

                    <p class="text-muted">Want to see what a property is like at
					a glance? Our rating system allows you to instantly get the
					gist of a given property.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"
                       data-wow-delay=".2s"></i>

                    <h3>Reviewing</h3>

                    <p class="text-muted">We believe the best information comes
					from those who have first-hand experience with the property - 
					YOU! This is your chance to tell other prospective tennants
					about the little details that often get glanced over during
					traditional property searching.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary"
                       data-wow-delay=".3s"></i>

                    <h3>Community</h3>

                    <p class="text-muted">Help keep yourself and others healthy
					and safe by reviewing things like your property's neighborhood
					or mentioning facts about lead paint use or even presence of
					asbestos.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive"
                         alt="">

                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive"
                         alt="">

                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive"
                         alt="">

                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive"
                         alt="">

                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive"
                         alt="">

                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive"
                         alt="">

                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center"> 
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Questions?</h2>
                <hr class="primary">
                <p>Send us an email and our support staff will be happiy to
				assist you.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>

                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn"
                   data-wow-delay=".1s"></i>

                <p><a href="mailto:your-email@your-domain.com">customerservice@apartmentality.com</a>
                </p>
            <h2>Free Download at Start Bootstrap!</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">Download
                Now!</a>
        </div>
    </div>
</aside>


{% endblock %}
