{% extends "base.html" %}

{% block title %}It's the lease you can do{% endblock %}

{% block page_content %}
<div class="spacer-lg"></div>
<div class="row search">
  <div class="col-sm-8 col-sm-offset-2">
    <form role="form">
            <div class="input-group">
              <input type="text" class="form-control input-lg">
              <span class="input-group-btn"  >
                <button class="btn btn-default btn-lg" type="submit"><span class="glyphicon glyphicon-search"></span></button>
              </span>
                
            </div>
    </form>
  </div>
 <div class="spacer-lg"></div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://www.online-image-editor.com//styles/2014/images/example_image.png"
                 alt="...">

            <div class="caption">
                <h3>Thumbnail label</h3>

                <p>...</p>

                <p><a href="#" class="btn btn-primary" role="button">Read
                    reviews</a> <a href="#" class="btn btn-default"
                                   role="button">Rate</a></p>
            </div>
        </div>

    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://www.online-image-editor.com//styles/2014/images/example_image.png"
                 alt="...">

            <div class="caption">
                <h3>Thumbnail label</h3>

                <p>...</p>

                <p><a href="#" class="btn btn-primary" role="button">Read
                    reviews</a> <a href="#" class="btn btn-default"
                                   role="button">Rate</a></p>
            </div>
        </div>

    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://www.online-image-editor.com//styles/2014/images/example_image.png"
                 alt="...">

            <div class="caption">
                <h3>Thumbnail label</h3>

                <p>...</p>

                <p><a href="#" class="btn btn-primary" role="button">Read
                    reviews</a> <a href="#" class="btn btn-default"
                                   role="button">Rate</a></p>
            </div>
        </div>

    </div>
</div>
{% endblock %}