{% extends "base.html" %}

{% block title %}View By Manager - {{ manager.name }}{% endblock %}
{% block page_content %}
<title>{{ manager.name }} properties</title>

<h1>{{ manager.name }}</h1>
<h2>Average Rating: {{ average|round(1) }}</h2>

<ul>
    {% for property in properties %}
    <li>
        <a href="/properties/{{ property.id }}">{{ property.street_number }} {{
            property.street_name }}, {{
            property.city }}, {{ property.state }} {{ property.zip }}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}