{% extends "base.html" %}

{% block title %}Viewing {{ property.street_number }}
{{property.street_name}} {% endblock %}

{% block page_content %}

<h1>{{property.street_number}} {{property.street_name}}</h1>

<h2>Reviews</h2>

<ul>
    {% for review in reviews %}
    <li>
        User: {{ review.user.person.first_name }} <br/>
        Bedrooms: {{ review.rating_bedroom }} <br/>
        Bathroom: {{ review.rating_bathroom }} <br/>
        Kitchen: {{ review.rating_kitchen }} <br/>
        Area: {{ review.rating_area }} <br/>
        Average: {{ review.rating_average }} <br/>
        Manager: <a
            href="/managers/{{review.manager_id}}">{{ review.manager.name
        }}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}